name: CD - Deploy to AKS

on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    cd:
        uses: ITAssetManagementSystem/CommonWorkflows/.github/workflows/cd-aks.yml@main
        with:
            service_name: orders
            dockerfile_path: Dockerfile
            manifests_path: manifests
            namespace: orders
