name: CD - Deploy Asset Service (Dev)

on:
    push:
        branches:
            - main

    workflow_dispatch:

permissions:
    id-token: write
    contents: read

jobs:
    deploy:
        uses: ITAssetManagementSystem/CommonWorkflows/.github/workflows/cd-helm-aks.yml@main
        with:
            service_name: asset-service
            chart_path: asset-service
            values_file: asset-service/values.yaml
            namespace: it-asset
            acr_name: devacr301225
            aks_name: dev-aks
            resource_group: dev-rg
        secrets: inherit
